@import "tailwindcss";

:root {
  --main-dark: #1c2434;
  --border-dark: #2e3a47;
}

@theme {
  --color-main: var(--main-dark);
  --color-darkborder: var(--border-dark);
  --color-boxdark: #1c2434;
  --color-strokedark: #2e3a47;
  --font-outfit: "Outfit", sans-serif;
}

@variant dark (&:where(.dark, .dark *));
body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 20px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2e3a47;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #333a48;
  }
}
